{% extends "base.html.twig" %}

{% block title %}Mon Blog Symfony | Identifiez-vous
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-4">Identifiez-vous</h1>

	{# Si l'internaute a saisi les mauvais identifiants, alors on entre dans la condition IF #}
	{# error: variable TWIG qui provient du controller SecurityController et qui contient un message d'erreur en cas de mauvaise connexion #}

	{% if error %}

		<p class="bg-danger text-white text-center p-3 col-md-4 mx-auto rounded">
			{{ error.messageKey|trans(error.messageData, 'security') }}</p>
		{# trans(error.messageData, 'security'): permet de pointer sur le fichier 'translations/security.en.php' qui contient la personnalisation des messages utilisateurs par défaut de Symfony #}

	{% endif %}

	{# Les attributs 'name' pour un formulaire de connexion doivent impérativement être "_username" et "_password" et Symfony fait le travail tt seul #}
	<form method="post" action="{{ path('security_login') }}" class="col-md-5 mx-auto">
		<div class="form-group">
			<label for="_username">Email</label>
			<input type="text" class="form-control" id="_username" name="_username" value="{{ last_username }}">
		</div>
		<div class="form-group">
			<label for="_password">Mot de passe</label>
			<input type="text" class="form-control" id="_password" name="_password">
		</div>
		<input type="submit" class="btn btn-dark" value="Connexion">
	</form>

{% endblock %}
